@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

* {
    box-sizing: border-box;
    font-family: Oxygen;
    color: whitesmoke;
}

html, body {
    margin: 0;
    padding: 0;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: whitesmoke;
    text-decoration: none;
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .05);
}

.main-nav li {
    padding: 0 5%;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, .3);
}

.main-header {
    background-color: rgba(0, 0, 0, .4);
    background-image: url("assets/images/header.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 20px;
}

.band-name {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: VT323;
    font-weight: normal;
    color: white;
}

.band-name-large {
    font-size: 9em;
}

.content-section {
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.section-header {
    font-family: Audiowide;
    font-weight: normal;
    text-align: center;
    font-size: 2.5em;
}

.about-band-image {
    width: 500px;
    margin: 15px;
    border-radius: 15%;
}

.main-footer {
    background-color: green;
    color: white;
    padding: .25em 0;
}

.main-footer-container {
    display: flex;
    align-items: center;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}

.footer-nav li {
    padding: 0 .5em;
}

.footer-nav img {
    width: 30px;
}